<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- подключаем css bootsrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- подключение vue js  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.38/vue.cjs.js"></script>
    
    <!-- покдлчюем axios - ето дополнение к vue js для обработки запросов нашего API -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.4/axios.js"></script>
</head>

<body>
 123123123123123
</body>

</html>